### Warmup if_elif_else

In [1]:
area = 10
if(area < 9):
    print('small')
elif(area < 12):
    print('medium')
else:
    print('large')

medium

In [3]:
#define variables
room = 'kit'
area = 14.0

#Examine the if statement that prints out "looking around in the kitchen." if room equals "kit"
if room == 'kit':
    print('looking around in the kitchen.')
else:
    print('looking around elsewhere')
    
#Write another if statement that prints out "big place!" if area is greater than 15.
if area > 15:
    print('big place!')
else:
    print('pretty small')

looking around in the kitchen.
pretty small

### Customise further elif

In [1]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# Add an elif to the second control structure such that "medium size, nice!" is printed out if area is greater than 10.
if area > 15 :
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

### while: warming up

In [2]:
x = 1
while x < 4:
    print(x)
    x = x + 1

1
2
3

In [4]:
# Create the variable offset with an initial value of 8
offset = 8

#Code a while loop that keeps running as long as offset is not equal to 0. Inside the while loop:
#Print out the sentence "correcting...".
# Next, decrease the value of offset by 1. You can do this with offset = offset - 1.
# Finally, still within your loop, print out offset so you can see how it changes.

while offset != 0:
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

### Add Conditionals

The while loop that corrects the offset is a good start, but what if offset is negative? You can try to run the following code where offset is initialized to -6:

    #INITALISE
    offset = -6
    
    #CODE WHILE LOOP
    while offset != 0 :
        print("correcting...")
        offset = offset - 1
        print(offset)
 
but your session will be disconnected. The while loop will never stop running, because offset will be further decreased on every run. offset != 0 will never become False and the while loop continues forever.

Fix things by putting an if-else statement inside the while loop. If your code is still taking too long to run, you probably made a mistake!

In [5]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0:
      offset = offset - 1
    else : 
      offset = offset + 1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

### Loop over a list

In [6]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for i in areas:
    print(i)

11.25
18.0
20.0
10.75
9.5

### Indexes and values

Using a for loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information, so where the list element you're iterating over is located, you can use enumerate().

As an example, have a look at how the for loop from the video was converted:

    fam = [1.73, 1.68, 1.71, 1.89]
    for index, height in enumerate(fam) :
        print("person " + str(index) + ": " + str(height))

In [2]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for x, a in enumerate(areas) :
    print('room ' + str(x) + ': ' + str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [13]:
# better way of doing this is to start the count from 1 and not 0

#set up counter variable
count = 1
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for x in areas:
    print('room ' + str(count) + ': ', str(x))
    count +=1
    
# alternatively using enumerate
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1:  11.25
room 2:  18.0
room 3:  20.0
room 4:  10.75
room 5:  9.5
room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

### Loop over list of lists

In [18]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x, y in house:
    print('the ' + str(x) + ' is ' + str(y) + ' sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### Loop over dictionary

In [19]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items():
    print('the capital of ' + key + ' is ' + value)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

### Loop over NumPy array

In [6]:
#import numpy as np
import numpy as np

#set up variables
height = [74, 74, 72, 75, 75, 73]
baseball = [180, 210, 190, 175, 185, 200]

#NumPy array which is 1D containing the heights of Major League Baseball players
np_height = np.array(height)

# a 2D NumPy array that contains both the heights (first column) and weights (second column) of those players.
np_baseball = np.column_stack((height,baseball))

# now we can start our loops for the 1D and 2D numpy arrays
for x in np_height:
    print(str(x) + ' inches')
    
#print out every element of np_baseball with nditer
for x in np.nditer(np_baseball):
    print(x)

74 inches
74 inches
72 inches
75 inches
75 inches
73 inches
74
180
74
210
72
190
75
175
75
185
73
200

### Loop over DataFrame

Iterating over a Pandas DataFrame is typically done with the iterrows() method. Used in a for loop, every observation is iterated over and on every iteration the row label and actual row contents are available:

    for lab, row in brics.iterrows() :
    ...

In [20]:
import pandas as pd

#import cars data
cars = pd.read_csv('cars.csv', index_col = 0)

#iterate over rows of cars
for label, row in cars.iterrows():
    print(label)
    print(row)

Mazda RX4
mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64
Mazda RX4 Wag
mpg      21.000
cyl       6.000
disp    160.000
hp      110.000
drat      3.900
wt        2.875
qsec     17.020
vs        0.000
am        1.000
gear      4.000
carb      4.000
Name: Mazda RX4 Wag, dtype: float64
Datsun 710
mpg      22.80
cyl       4.00
disp    108.00
hp       93.00
drat      3.85
wt        2.32
qsec     18.61
vs        1.00
am        1.00
gear      4.00
carb      1.00
Name: Datsun 710, dtype: float64
Hornet 4 Drive
mpg      21.400
cyl       6.000
disp    258.000
hp      110.000
drat      3.080
wt        3.215
qsec     19.440
vs        1.000
am        0.000
gear      3.000
carb      1.000
Name: Hornet 4 Drive, dtype: float64
Hornet Sportabout
mpg      18.70
cyl       8.00
disp    360.00
hp      175.00
drat      3.15
wt        3.44
qsec     17.02
vs        0.00
am        0.00
gear      3.00
carb      2.00
Name: Hornet Sportabout, dtype: float64
Valiant
mpg      18.10
cyl       6.00
disp    225.00
hp      105.00
drat      2.76
wt        3.46
qsec     20.22
vs        1.00
am        0.00
gear      3.00
carb      1.00
Name: Valiant, dtype: float64
Duster 360
mpg      14.30
cyl       8.00
disp    360.00
hp      245.00
drat      3.21
wt        3.57
qsec     15.84
vs        0.00
am        0.00
gear      3.00
carb      4.00
Name: Duster 360, dtype: float64
Merc 240D
mpg      24.40
cyl       4.00
disp    146.70
hp       62.00
drat      3.69
wt        3.19
qsec     20.00
vs        1.00
am        0.00
gear      4.00
carb      2.00
Name: Merc 240D, dtype: float64
Merc 230
mpg      22.80
cyl       4.00
disp    140.80
hp       95.00
drat      3.92
wt        3.15
qsec     22.90
vs        1.00
am        0.00
gear      4.00
carb      2.00
Name: Merc 230, dtype: float64
Merc 280
mpg      19.20
cyl       6.00
disp    167.60
hp      123.00
drat      3.92
wt        3.44
qsec     18.30
vs        1.00
am        0.00
gear      4.00
carb      4.00
Name: Merc 280, dtype: float64
Merc 280C
mpg      17.80
cyl       6.00
disp    167.60
hp      123.00
drat      3.92
wt        3.44
qsec     18.90
vs        1.00
am        0.00
gear      4.00
carb      4.00
Name: Merc 280C, dtype: float64
Merc 450SE
mpg      16.40
cyl       8.00
disp    275.80
hp      180.00
drat      3.07
wt        4.07
qsec     17.40
vs        0.00
am        0.00
gear      3.00
carb      3.00
Name: Merc 450SE, dtype: float64
Merc 450SL
mpg      17.30
cyl       8.00
disp    275.80
hp      180.00
drat      3.07
wt        3.73
qsec     17.60
vs        0.00
am        0.00
gear      3.00
carb      3.00
Name: Merc 450SL, dtype: float64
Merc 450SLC
mpg      15.20
cyl       8.00
disp    275.80
hp      180.00
drat      3.07
wt        3.78
qsec     18.00
vs        0.00
am        0.00
gear      3.00
carb      3.00
Name: Merc 450SLC, dtype: float64
Cadillac Fleetwood
mpg      10.40
cyl       8.00
disp    472.00
hp      205.00
drat      2.93
wt        5.25
qsec     17.98
vs        0.00
am        0.00
gear      3.00
carb      4.00
Name: Cadillac Fleetwood, dtype: float64
Lincoln Continental
mpg      10.400
cyl       8.000
disp    460.000
hp      215.000
drat      3.000
wt        5.424
qsec     17.820
vs        0.000
am        0.000
gear      3.000
carb      4.000
Name: Lincoln Continental, dtype: float64
Chrysler Imperial
mpg      14.700
cyl       8.000
disp    440.000
hp      230.000
drat      3.230
wt        5.345
qsec     17.420
vs        0.000
am        0.000
gear      3.000
carb      4.000
Name: Chrysler Imperial, dtype: float64
Fiat 128
mpg     32.40
cyl      4.00
disp    78.70
hp      66.00
drat     4.08
wt       2.20
qsec    19.47
vs       1.00
am       1.00
gear     4.00
carb     1.00
Name: Fiat 128, dtype: float64
Honda Civic
mpg     30.400
cyl      4.000
disp    75.700
hp      52.000
drat     4.930
wt       1.615
qsec    18.520
vs       1.000
am       1.000
gear     4.000
carb     2.000
Name: Honda Civic, dtype: float64
Toyota Corolla
mpg     33.900
cyl      4.000
disp    71.100
hp      65.000
drat     4.220
wt       1.835
qsec    19.900
vs       1.000
am       1.000
gear     4.000
carb     1.000
Name: Toyota Corolla, dtype: float64
Toyota Corona
mpg      21.500
cyl       4.000
disp    120.100
hp       97.000
drat      3.700
wt        2.465
qsec     20.010
vs        1.000
am        0.000
gear      3.000
carb      1.000
Name: Toyota Corona, dtype: float64
Dodge Challenger
mpg      15.50
cyl       8.00
disp    318.00
hp      150.00
drat      2.76
wt        3.52
qsec     16.87
vs        0.00
am        0.00
gear      3.00
carb      2.00
Name: Dodge Challenger, dtype: float64
AMC Javelin
mpg      15.200
cyl       8.000
disp    304.000
hp      150.000
drat      3.150
wt        3.435
qsec     17.300
vs        0.000
am        0.000
gear      3.000
carb      2.000
Name: AMC Javelin, dtype: float64
Camaro Z28
mpg      13.30
cyl       8.00
disp    350.00
hp      245.00
drat      3.73
wt        3.84
qsec     15.41
vs        0.00
am        0.00
gear      3.00
carb      4.00
Name: Camaro Z28, dtype: float64
Pontiac Firebird
mpg      19.200
cyl       8.000
disp    400.000
hp      175.000
drat      3.080
wt        3.845
qsec     17.050
vs        0.000
am        0.000
gear      3.000
carb      2.000
Name: Pontiac Firebird, dtype: float64
Fiat X1-9
mpg     27.300
cyl      4.000
disp    79.000
hp      66.000
drat     4.080
wt       1.935
qsec    18.900
vs       1.000
am       1.000
gear     4.000
carb     1.000
Name: Fiat X1-9, dtype: float64
Porsche 914-2
mpg      26.00
cyl       4.00
disp    120.30
hp       91.00
drat      4.43
wt        2.14
qsec     16.70
vs        0.00
am        1.00
gear      5.00
carb      2.00
Name: Porsche 914-2, dtype: float64
Lotus Europa
mpg      30.400
cyl       4.000
disp     95.100
hp      113.000
drat      3.770
wt        1.513
qsec     16.900
vs        1.000
am        1.000
gear      5.000
carb      2.000
Name: Lotus Europa, dtype: float64
Ford Pantera L
mpg      15.80
cyl       8.00
disp    351.00
hp      264.00
drat      4.22
wt        3.17
qsec     14.50
vs        0.00
am        1.00
gear      5.00
carb      4.00
Name: Ford Pantera L, dtype: float64
Ferrari Dino
mpg      19.70
cyl       6.00
disp    145.00
hp      175.00
drat      3.62
wt        2.77
qsec     15.50
vs        0.00
am        1.00
gear      5.00
carb      6.00
Name: Ferrari Dino, dtype: float64
Maserati Bora
mpg      15.00
cyl       8.00
disp    301.00
hp      335.00
drat      3.54
wt        3.57
qsec     14.60
vs        0.00
am        1.00
gear      5.00
carb      8.00
Name: Maserati Bora, dtype: float64
Volvo 142E
mpg      21.40
cyl       4.00
disp    121.00
hp      109.00
drat      4.11
wt        2.78
qsec     18.60
vs        1.00
am        1.00
gear      4.00
carb      2.00
Name: Volvo 142E, dtype: float64

In [26]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop to get the MPG for each model
for lab, row in cars.iterrows() :
    print(lab + ': ')
    print(row[str("mpg")])

Mazda RX4:
21.0
Mazda RX4 Wag:
21.0
Datsun 710:
22.8
Hornet 4 Drive:
21.4
Hornet Sportabout:
18.7
Valiant:
18.1
Duster 360:
14.3
Merc 240D:
24.4
Merc 230:
22.8
Merc 280:
19.2
Merc 280C:
17.8
Merc 450SE:
16.4
Merc 450SL:
17.3
Merc 450SLC:
15.2
Cadillac Fleetwood:
10.4
Lincoln Continental:
10.4
Chrysler Imperial:
14.7
Fiat 128:
32.4
Honda Civic:
30.4
Toyota Corolla:
33.9
Toyota Corona:
21.5
Dodge Challenger:
15.5
AMC Javelin:
15.2
Camaro Z28:
13.3
Pontiac Firebird:
19.2
Fiat X1-9:
27.3
Porsche 914-2:
26.0
Lotus Europa:
30.4
Ford Pantera L:
15.8
Ferrari Dino:
19.7
Maserati Bora:
15.0
Volvo 142E:
21.4